:root {
  font-size: 1.045751634vw;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.fast-view {
  margin: 0.9375rem;
}

.fast-view h1 {
  position: absolute;
  top: 2.5rem;
  /* left: 200px; */
  left: 11.25rem;
}

.fast-view h1 img {
  display: block;
  width: 15.625rem;
}

.fast-view > img {
  width: 100%;
}

.main_box {
  background: url("../img/bg_gray@3x-100-scaled.jpg");
  display: flex;
  align-items: center;
  padding: 3.125rem 0;
  margin: 0 0.9375rem 0.9375rem 0.9375rem;
}

.main_box.aboutmie {
  justify-content: center;
}

.main_box.pickspot {
  flex-direction: column;
}

.main_box.aboutmie > img {
  width: 31.25rem;
}

.aboutmie > div {
  width: 37.5rem;
  margin-left: 3.125rem;
}

.aboutmie div h3 {
  font-size: 0.625rem;
  font-weight: normal;
}

.aboutmie div p {
  margin-top: 1.875rem;
  font-size: 0.875rem;
}

.aboutmie .miebrand {
  display: flex;
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  margin-top: 1.875rem;
  margin-left: auto;
}

.miebrand div:nth-of-type(1) {
  margin-left: 1.25rem;
}

.miebrand div:nth-of-type(1) h3 {
  font-size: 0.9375rem;
}

.miebrand img {
  width: 3.125rem;
}

.circle {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: relative;
  margin-left: 1.25rem;
}

.circle::before {
  display: block;
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #7693b1;
  position: absolute;
  top: 33%;
  left: 33%;
}

.main_box.pickspot {
  padding: 5rem 0;
}

.main_box.pickspot .pickspot_content {
  display: flex;
  position: relative;
}

.main_box.pickspot .pickspot_content:nth-of-type(2) {
  margin: 5rem 0;
  flex-direction: row-reverse;
}

.main_box.pickspot .pickspot_content:nth-of-type(2) img:nth-of-type(3) {
  left: -3.125rem;
}

.main_box.pickspot .pickspot_content:nth-of-type(3) img:nth-of-type(3) {
  right: -3.125rem;
}

.pickspot_content img:nth-of-type(1) {
  width: 6.25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}

.pickspot_content div {
  width: 28.125rem;
  margin: 0 3.125rem;
}

.main_box.pickspot img:nth-of-type(2) {
  width: 31.25rem;
}

.main_box.pickspot img:nth-of-type(3) {
  width: 6.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 2.5rem;
  right: 28.125rem;
}

.pickspot_content div h3 {
  font-size: 1.375rem;
  margin-bottom: 1.875rem;
}

.pickspot_content div p {
  font-size: 0.875rem;
}

.news,
.pickup {
  margin-top: 5rem;
  padding: 0 6.25rem;
  display: flex;
}

.pickup {
  display: block;
}

.content_header {
  display: flex;
}

.mini_circle {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #7693b1;
}

.news_title > div,
.pickup_title > div {
  display: flex;
  align-items: center;
}

.title_box p,
.news .news_title p,
.pickup .pickup_title p {
  font-size: 0.875rem;
  color: #789b66;
  margin-left: 1.5625rem;
}

.title_box h3,
.news .news_title h3,
.pickup .pickup_title h3 {
  font-size: 1.875rem;
  margin-left: 0.625rem;
}

.news_content_wrapper {
  margin: 0 3.125rem 0 4.375rem;
  max-width: 43.75rem;
}

.news .news_tab {
  display: flex;
}

.news_tab h4 a {
  width: 21.875rem;
  height: 3.75rem;
  line-height: 3.75rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: normal;
  background-color: white;
  color: black;
  border-bottom: 0.125rem #7693b1 solid;
  box-sizing: border-box;
}

.news_tab h4 a.show {
  background-color: #7693b1;
  color: white;
}

.news_content {
  display: none;
}

.news_content.show#p1 {
  border: none;
}

.news_content.show {
  padding: 1.5625rem 0;
  display: flex;
  align-items: center;
  border-bottom: 0.1875rem #789b66 dotted;
}

.news_content.show .day {
  font-size: 0.875rem;
  font-weight: bold;
  color: #789b66;
}

.news_content.show > div {
  width: 6.875rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.875rem;
  color: #666;
  background-color: #e7e4e1;
  margin: 0 0.9375rem;
  padding: 0.3125rem 1.25rem;
  border-radius: 1.25rem;
  box-sizing: border-box;
}

.news_content.show > p {
  font-size: 1.0625rem;
}

.news > a img {
  width: 21.875rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.pickup {
  margin-bottom: 3.75rem;
}

.content_header {
  justify-content: space-between;
}

.content_header .content_link {
  display: flex;
  align-items: center;
}

.pickup_main,
.spot_main {
  display: flex;
  justify-content: space-between;
  margin-top: 4.375rem;
}

.content_box,
.pickup_content {
  width: 25rem;
}

.content_box a > img,
.pickup_content a > img {
  width: 25rem;
  border-radius: 1.25rem;
}

.content_box h3,
.pickup_content h3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 1.25rem 0;
}

.content_box p,
.pickup_content p {
  font-size: 0.875rem;
}

.main_tag_wrapper {
  margin-top: 1.25rem;
  display: flex;
}

.main_tag_wrapper .main_tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.875rem;
  color: #666;
  background-color: #e7e4e1;
  padding: 0.3125rem 1.25rem;
  border-radius: 1.25rem;
  box-sizing: border-box;
}

.main_tag_wrapper .main_tag:nth-of-type(2) {
  margin-left: 0.625rem;
}

.spot_tag_wrapper {
  display: flex;
}

.topic_spot {
  overflow: hidden;
  padding-top: 0.3125rem;
}

.topic_spot .spot_tag {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  width: 33.3333333333%;
  background-size: cover;
}

.topic_spot .spot_tag:nth-of-type(1) {
  background-image: url("../img/bg_green@3x-100.jpg");
}

.topic_spot .spot_tag:nth-of-type(2) {
  background-image: url("../img/bg_orange@3x-100.jpg");
}

.topic_spot .spot_tag:nth-of-type(3) {
  background-image: url("../img/bg_blue@3x-100.jpg");
}

.topic_spot .spot_tag:hover {
  transform: scale(1.02);
}

.spot_content_wrapper {
  display: none;
}

.spot_content_wrapper.show {
  display: block;
}

.spot_tag h3 {
  color: white;
  font-size: 1.875rem;
  margin-right: 2.5rem;
}

.spot_tag img {
  width: 12.5rem;
}

.spot_tag .circle {
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
}

.content_header.spot_header {
  align-items: center;
  margin: 3.125rem 6.25rem 0 6.25rem;
}

.spot_content {
  position: relative;
}

.spot_main {
  padding: 0 6.25rem 5rem 6.25rem;
}

.spot_content_category {
  position: absolute;
  top: -0.9375rem;
  left: 1.25rem;
  color: white;
  background-image: url("../img/bg_orange@3x-100.jpg");
  background-size: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3125rem 1.25rem;
  border-radius: 1.25rem;
}

.spot_content_wrapper:nth-of-type(4) .spot_content .spot_content_category {
  background-image: url("../img/bg_blue@3x-100.jpg");
}

.topic_theme {
  background-image: url("../img/bg_gray@3x-100-scaled.jpg");
}

.topic_theme .title_box {
  margin-top: 3.125rem;
}

.theme_link_wrapper {
  display: flex;
  margin-top: 1.25rem;
  justify-content: center;
}

.theme_link {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 1.125rem;
  padding: 1.25rem 1.25rem 0.9375rem 2.5rem;
  border-radius: 2.5rem;
}

.theme_link_wrapper a:not(:nth-of-type(1)) {
  margin-left: 1.25rem;
}

.theme_link .circle {
  margin-left: 2.5rem;
}

.topic_theme img {
  display: block;
  width: 100%;
  margin-top: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.topic_information {
  display: flex;
  justify-content: space-between;
  padding: 3.125rem 5rem;
}

.topic_information .content_header {
  margin: 0;
}

.information_content .information_main {
  margin-top: 3.125rem;
}

.information_content:not(:nth-of-type(2)) .information_main {
  border: 0.1875rem solid #f2f2f2;
  padding: 0.9375rem 1.25rem;
}

.information_main_content p {
  font-size: 0.875rem;
}

.information_main_content h3 {
  width: 34.375rem;
  font-size: 1.3125rem;
}

.topic_information .main_content_title {
  display: flex;
  align-items: center;
}

.information_content.instagram .content_header {
  align-items: center;
}

.information_main a img {
  width: 40.625rem;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-image: url("../img/bg_gray@3x-100-scaled.jpg");
  background-size: cover;
  padding-top: 3.125rem;
  padding-bottom: 15.625rem;
  position: relative;
  vertical-align: top;
}

.footer .footer_category {
  display: flex;
  margin-top: 1.875rem;
  margin-left: 3.125rem;
}

.footer > img {
  width: 15.625rem;
  vertical-align: top;
}

.footer_category_item:not(:nth-of-type(1)) {
  margin-left: 0.625rem;
}

.footer_category_item div {
  border: 0.0625rem solid black;
  border-radius: 1.875rem;
  padding: 0.625rem 2.1875rem;
  font-size: 0.875rem;
  margin: 0.9375rem 0;
  text-align: center;
}

.footer_category_item a:nth-of-type(1) div {
  margin: 0;
}

.footer_category_item p {
  margin-top: 0.625rem;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  margin-left: 1.5625rem;
}

.footer_category_item p::before {
  display: block;
  content: "";
  background-color: #789b66;
  width: 0.625rem;
  height: 0.125rem;
  margin-right: 0.3125rem;
}

.footer .pagetop {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5rem;
  height: 5rem;
}

.pagetop img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}
/*# sourceMappingURL=style.css.map */